.select {
  border: 1px solid #1e1f1f;
  background-color: whitesmoke;
  border-radius: 7px;
  text-align: center;
  width: 150px;
  height: 30px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
  color: #1e1f1f;
}

.select:hover {
  background-color: #1e1f1f;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  scale: 1.1
}