.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 500px;
  margin: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 35px -11px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 10px 10px 35px -11px rgba(0, 0, 0, 0.82);
  box-shadow: 10px 10px 35px -11px rgba(0, 0, 0, 0.82);
}

.card:hover {
  scale: 1.05;
  -webkit-box-shadow: 10px 10px 35px -11px rgba(80, 80, 80, 0.563);
  -moz-box-shadow: 10px 10px 35px -11px rgba(80, 80, 80, 0.563);
  box-shadow: 10px 10px 35px -11px rgba(80, 80, 80, 0.563);
}

.card img {
  max-width: 150px;
  margin-top: 5px;
}

.card h1{
  padding: 0;
  margin: 3px;
  font-size: 20px;
  color:#1e6f5c;
  font-weight: 600;
  text-align: center;
}

.card p {
  text-align: center;
  opacity: 0.8;
  font-weight: 500;
}

.card b {
  color:#1e6f5c;
}

.card hr {
  opacity: 0.2;
}

.item1 {
  width: 150px;
}

.item2 {
  width: 50px;
}