
.header {
  position: relative;
}

.burger {
 position: absolute;
 padding: 20px;
 cursor: pointer;
 transition: 0.5s;
}

.burger:hover {
  scale: 1.08;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.header h1{
  font-size: 30px;
  padding: 0;
  margin: 3px;
}

.header img {
 width: 40px;
}

.welcome__navbar {
  width: 100%;
  background-color:  #1e1f1f ;
  color: whitesmoke;
}

.main__navbar {
  border-radius: 0px 0px 30px 30px;
}
