.input {
  border: 1px solid #1e6f5c;
  background-color: whitesmoke;
  border-radius: 7px;
  text-align: left;
  width: 400px;
  height: 27px;
  font-size: 18px;
  margin: 5px;
}

.input:hover {
  background-color: #1e1f1f;
  color: whitesmoke;
  -webkit-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
-moz-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
}

.input:focus {
  background-color: #1e1f1f;
  color: whitesmoke;
  -webkit-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
  box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
  outline: 2px solid #29bb89;
}

.range {
  border: 1px solid #1e6f5c;
  background-color: whitesmoke;
  border-radius: 7px;
  text-align: left;
  width: 100px;
  height: 26px;
  font-size: 18px;
  margin: 5px;
}

.range:hover {
  background-color: #1e1f1f;
  color: whitesmoke;
  -webkit-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
-moz-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
box-shadow: 10px 10px 42px -16px rgba(7, 6, 6, 0.69);
}

.range:focus {
  background-color: #1e1f1f;
  color: whitesmoke;
  -webkit-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
  box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
  outline: 2px solid #29bb89;
}