.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:whitesmoke;
}

.nav-bar {
  padding: 5px;
  text-align: center;
  background-color:  #1e1f1f ;
  color: whitesmoke
}