/* Normal buttons */
.primary {
  border: 1px solid #1e6f5c;
  background-color: whitesmoke;
  border-radius: 7px;
  text-align: center;
  width: 150px;
  height: 30px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #1e1f1f;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out, width 0.5s;
}

.primary:hover {
  color: whitesmoke;
  width: 400%;
  box-shadow: inset 300px 0 0 0 #1e1f1f;
  color: #e4e4e4;
}

.primary:focus {
  outline: 3px solid #29bb89;
}

.arrowBtn {
  border: 1px solid #1e6f5c;
  background-color: whitesmoke;
  border-radius: 7px;
  text-align: center;
  width: 29px;
  height: 29px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}

.arrowBtn:hover {
  background-color: #1e1f1f;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  -webkit-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
-moz-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
}

.arrowBtn:focus {
  outline: 2px solid #29bb89;
}

.secondary {
  border: 1px solid #1e6f5c;
  background-color: #1e6f5c;
  color: whitesmoke;
  border-radius: 7px;
  text-align: center;
  width: 150px;
  height: 30px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.secondary:hover {
  width: 150%;
}

.secondary:focus {
  outline: 2px solid #29bb89;
}

.tertiary {
  border: 1px solid #1e1f1f;
  background-color: #1e1f1f;
  color: whitesmoke;
  border-radius: 7px;
  text-align: center;
  width: 150px;
  height: 30px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}

.tertiary:hover {
  background-color: whitesmoke;
  border: 1px solid #1e6f5c;
  color: #1e1f1f;
  scale: 1.1;
  -webkit-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
-moz-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
}

.tertiary:focus {
  outline: 2px solid #29bb89;
}

/* Large buttons */
.primaryLarge {
  border: 1px solid #1e6f5c;
  background-color: whitesmoke;
  border-radius: 20px;
  text-align: center;
  width: 300px;
  height: 60px;
  font-size: 25px;
  font-weight: 500;
  margin: 5px;
  cursor: pointer;
}

.primaryLarge:hover {
  background-color: #1e1f1f;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  scale: 1.1;
  -webkit-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
-moz-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
}

.primaryLarge:focus {
  outline: 2px solid #29bb89;
}


.secondaryLarge {
  border: 1px solid #1e6f5c;
  background-color:  whitesmoke;
  color: #1e1f1f;
  border-radius: 20px;
  text-align: center;
  width: 300px;
  height: 60px;
  font-size: 25px;
  font-weight: 500;
  margin: 5px;
  cursor: pointer;
}

.secondaryLarge:hover {
  background-color: #1e6f5c;
  border: 1px solid #1e6f5c;
  color: whitesmoke;
  scale: 1.1;
  -webkit-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
-moz-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
}

.secondaryLarge:focus {
  outline: 2px solid #29bb89;
}


.tertiaryLarge {
  border: 1px solid #1e1f1f;
  background-color: #1e1f1f;
  color: whitesmoke;
  border-radius: 20px;
  text-align: center;
  width: 300px;
  height: 60px;
  font-size: 25px;
  font-weight: 500;
  margin: 5px;
  cursor: pointer;
}

.tertiaryLarge:hover {
  background-color: whitesmoke;
  border: 1px solid #1e6f5c;
  color: #1e1f1f;
  scale: 1.1;
  -webkit-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
-moz-box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
box-shadow: 10px 10px 42px -16px rgba(0, 0, 0, 0.69);
}

.tertiaryLarge:focus {
  outline: 2px solid #29bb89;
}