.paginator {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.page {
  padding: 2px;
  border: 1px solid #1e6f5c;
  background-color: whitesmoke;
  border-radius: 7px;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
  color: #1e1f1f;
}

.page:hover {
  background-color: #1e1f1f;
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

.page.currentPage {
  font-weight: bold;
  border-color: #1e6f5c;  ;
  scale: 1.2;
}

.page:focus {
  outline: 2px solid #29bb89;
}
