.list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  padding: 20px;
}

.nothing {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1f1f;
}