.myPopUp {
display: none;
}

.active {
  padding: 25px;
  background-color: #e4e4e4;
  border-radius: 16px;
  max-width: 600px;
}

.popUpContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}