.container {
  display: flex;
  align-items: center;
}


.content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 31px;
  background: linear-gradient(145deg, #cdcdcd, #f4f4f4);
  box-shadow: 10px 10px 29px #5b5b5b,
    -10px -10px 29px #ffffff;
  width: 300px;
  height: 300px;
  padding: 25px;
  margin-left: 50px;
  cursor: pointer;
  transition: all .5s cubic-bezier(.25, .46, .45, .94);
}

.content:hover {
  transform: translateY(-70px)
}
 
.logo {
  width: 100px;
}